<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Javascript Racer</title>
  <meta name="description" content="Javascript Racer">
  <meta name="author" content="Mazzor">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="/js/jquery.js"></script>
  <script src="/js/player_model.js"></script>
  <!-- feel free to replace typed-objects with the plain-old-js-objects,
  depending on how you implement your view.js -->
  <script src="/js/view.js"></script>
</head>

<body>
  <%= yield %>
</body>
</html>
