<form action="/players/new" method="post">

  Player one: <input type="text" name="player_one"><br>
  Player two: <input type="text" name="player_two"><br>
  <input type="submit" value="Submit"><br>

</form>